body {
    margin: 0;
    height: 100vh;
    background-color: white; 
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode {
    background-color: black;
    color: white;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}